<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PH租房管理平台-租约管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/static/lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/css/homepage.css">
    <link rel="stylesheet" href="/static/lib/css/controller.css">
    <link rel="stylesheet" href="/static/lib/css/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/css/sweetalert.css">
</head>
<body>
<div th:insert="~{./common/headbar::headbar}"></div>
<div th:insert="~{./detail_user::homepage}"></div>
<div class="panel panel-default" style="width: 90%;margin-left: 5%">
    <!--标题栏-->
    <div class="panel-heading">
        <h3 id="title" class="panel-title" style="text-align:center"><b>租约总览</b></h3>
    </div>
    <!--工具栏-->
    <div id="toolbar" class="div-toolbar">
        <select name="select" id="effectiveSelect" class="form-condition" data-toggle="tooltip" title="点此切换需要查询的租约状态">
            <option value="-1">全部</option>
            <option value="1">生效中</option>
            <option value="0">已失效</option>
        </select>
        <select name="select" id="voLeaseType" class="form-condition">
            <option value="-1">全部类型</option>
            <option value="1">日 租</option>
            <option value="2">月 租</option>
            <option value="3">年 租</option>
        </select>
        <input name="memberSearch" id="memberSearch" class="form-condition" placeholder="租客姓名" th:value="${memberSearch}"/>
        <input name="roomSearch" id="roomSearch" class="form-condition" placeholder="房间号"/>
        <!--操作按钮-->
        <button id="search" class="btn btn-primary" th:onclick="search()">搜 索</button>
        <button id="new" class="btn btn-success" th:onclick="addLease()">新 增</button>
        <button id="edit" class="btn btn-info" th:onclick="|edit()|">编 辑</button>
        <button id="terminate" class="btn btn-warning" th:onclick="terminate()">手动失效</button>
<!--        <button id="effective" class="btn btn-primary" th:onclick="enableRows()">手动生效</button>-->
        <button id="delete" class="btn btn-danger" th:onclick="|deleteRows();|">删 除</button>
    </div>
    <!--表格-->
    <div class="panel-body">
        <table id="table" class="table-striped-warner">
        </table>
    </div>
</div>

<!-- （新增、修改） 模态框容器 -->
<div>
    <!-- 新增和修改共用一个模态框（Modal） -->
    <div class="modal fade" id="addOrUpdateModal" tabindex="-1" role="dialog"
         aria-labelledby="addOrUpdateModalLabel"
         aria-hidden="true">

        <div class="modal-dialog" style="width: 45%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            th:onclick="cleanValidate()">
                        ×
                    </button>
                    <h4 class="modal-title text-center font-weight-bold" id="addOrUpdateModalLabel"/>
                </div>
                <!--                    {# 模态框body #}-->
                <div class="modal-body" style="height: 100%;">
                    <form id="addOrUpdateform" class="form-horizontal" role="form">
                        <!-- 租客信息部分 -->
                        <h4 class="field-group-title">
                            <span class="bullet"></span>
                            租客信息
                        </h4>
                        <hr class="field-group-divider">
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="hidden" class="form-control" id="id" name="id">
                                <input type="hidden" class="form-control" id="number" name="number">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">租客姓名</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="memberName" name="memberName" data-bv-field="name"
                                               placeholder="请输入租客姓名" autocomplete="off">
                                        <div id="selectBox" class="dropdown-menu selectBox"
                                             style="display: none;"></div>
                                        <input type="hidden" class="form-control" id="memberId" name="memberId">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">身份证号</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="idCard" name="idCard"
                                               data-bv-field="idCard"
                                               placeholder="请输入租客身份证号">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        <div class="col-sm-7">
                                            <input type="button" th:onclick="unlockMemberInfo()" class="btn btn-primary" id="refreshMemberInfo"
                                                value="重置租客信息"/>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">手机号</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="tel" name="tel"
                                               placeholder="请输入租客手机号">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">性别</label>
                                    <div class="col-sm-7">
                                        <select name="sex" id="sex" class="form-condition form-selector">
                                            <option value="1">男</option>
                                            <option value="2">女</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h4 class="field-group-title">
                            <span class="bullet"></span>
                            租赁信息
                        </h4>
                        <hr class="field-group-divider">
                        <!-- 租赁信息部分 -->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">租住房间</label>
                                    <div class="col-sm-7">
                                        <select name="roomId" id="roomId" class="form-condition form-selector">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">租住类型</label>
                                    <div class="col-sm-7">
                                        <select name="leaseType" id="leaseType" class="form-condition form-selector">
                                            <option value="1">按日租</option>
                                            <option value="2">按月租</option>
                                            <option value="3">按年租</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label id="unitTitle" class="col-sm-3 control-label">租期(天)</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="unit" name="unit" >
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">租金额(元)</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="rentAmount" name="rentAmount" step="10">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">开始日期:</label>
                                    <div class="col-sm-7">
                                        <input type="date" id="startDate" name="startDate" class="form-control" min="2023-01-01" max="2099-12-31"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">结束日期:</label>
                                    <div class="col-sm-7">
                                        <input type="date" id="endDate" name="endDate" class="form-control" min="2023-01-01" max="2099-12-31"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--                    {# 模态框底部 #}-->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                            </button>
                            <input type="button" th:onclick="validate()" class="btn btn-primary" id="submitBtn"
                                   value="提交"/>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>
<script src="/static/lib/js/jquery3.5.1.min.js"></script>
<script src="/static/lib/js/bootstrap.min.js"></script>
<script src="/static/lib/js/bootstrap-table.min.js"></script>
<script src="/static/lib/js/sweetalert-dev.js"></script>
<script src="/static/lib/js/moment.min.js"></script>
<script src="/static/lib/js/bootstrap-table-zh-CN.min.js"></script>
<script src="/static/lib/js/bootstrapValidator.min.js"></script>
<script src="/static/tempjs/common.js"></script>
<script src="/static/tempjs/lease_list.js"></script>
<script src="https://unpkg.com/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tooltip.js@1.3.0/dist/umd/tooltip.min.js"></script>
</body>
</html>