<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>房间总览</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/css/homepage.css">
    <link rel="stylesheet" href="/static/lib/css/controller.css">
    <script src="../static/lib/js/list.js"></script>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="~{../static/common/headbar::headbar}"></div>
<div th:insert="~{./detail_user::homepage}"></div>
<div class="panel panel-default" style="width: 90%;margin-left: 5%">
    <div class="panel-heading">
        <h3 class="panel-title" style="text-align:center">租客总览</h3>
    </div>
    <!--条件过滤栏-->
    <div class="div-condition">
        <select name="select" id="memberStatus" class="form-condition" >
            <option value="-1">全部</option>
            <option value="0">租住中</option>
            <option value="1">已退租</option>
        </select>
        <input name="memberSearch" id="memberSearch" class="form-condition" placeholder="租客姓名"
                    th:value="${condition.memberName}==null? '':${condition.memberName}"/>
        <input name="roomSearch" id="roomSearch" class="form-condition" placeholder="房间号"
                      th:value="${condition.roomNo}==null? '':${condition.roomNo}"/>
        &nbsp;&nbsp;
        <input type="button" value="搜索" class="btn btn-success" id="selectClassRoom" th:onclick="|searchMember();|"/>&nbsp;
        <input type="button" class="btn btn-danger" value="删除" id="dropClassRoom"/>

    </div>
    <div class="panel-body">
        <table class="table table-hover" style="text-align:center">
            <thead>
            <tr>
                <th>姓名</th>
                <th>手机号</th>
                <th>身份证</th>
                <th>状态</th>
                <th>房间</th>
                <th>房间描述</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member: ${page.records}">
                <td th:text="${member.memberName}"></td>
                <td th:text="${member.phone}"></td>
                <td th:text="${member.idCard}"></td>
                <td th:text="${member.memberStatus}"></td>
                <td th:text="${member.roomNo}"></td>
                <td th:text="${member.roomDesc}"></td>
                <td><button type="button" class="btn btn-success disabled">操作</button></td>
            </tr>
            </tbody>
        </table>
    </div>


    <input type="text" class="btn btn-danger" id="pageNum" th:value="${page.current}"/>
    <input type="text" class="btn btn-danger" id="pages" th:value="${page.pages}"/>
    <input type="text" class="btn btn-danger" id="total" th:value="${page.total}"/>
    <div class="pagination_3I9AM" th:fragment="pagination">

        <!--点击首页会跳转到第一页，并且首页禁用-->
        <th:block th:if="${page.current==1}">
            <a class="paginationItem_M4KH- paginationItemDisable">首页</a></li>
        </th:block>

        <th:block th:if="${page.current>1}">
            <a class="paginationItem_M4KH-"
               th:href="@{/member/search(question=${param.question},pn=1)}"
               th:text="首页">
            </a>
        </th:block>

        <!--上一页-->
        <th:block th:if="${page.current>1}">
            <a class="paginationItem_M4KH-"
               th:href="@{/member/search(question=${param.question},pn=${page.getCurrent()-1})}">
                <span>&laquo;</span>
            </a>
        </th:block>

        <th:block th:if="${page.current - 3 >= 1}">
            <a class="paginationItem_M4KH-" th:href="@{/search(question=${param.question},pn=${page.current}-3)}" th:text="${page.current -3}"></a>
        </th:block>
        <th:block th:if="${page.current - 2 >= 1}">
            <a class="paginationItem_M4KH-" th:href="@{/search(question=${param.question},pn=${page.current}-2)}" th:text="${page.current -2}"></a>
        </th:block>
        <th:block th:if="${page.current - 1 >= 1}">
            <a class="paginationItem_M4KH-"  th:href="@{/search(question=${param.question},pn=${page.current}-1)}" th:text="${page.current -1}"></a>
        </th:block>

        <th:block>
            <a class="paginationItem_M4KH- paginationItemActive_3TLeb"  th:text="${page.current}"></a>
        </th:block>

        <th:block th:if="${page.current+1 <=page.getPages()}">
            <a class="paginationItem_M4KH-" th:href="@{/search(question=${param.question},pn=${page.current}+1)}" th:text="${page.current +1}"></a>
        </th:block>
        <th:block th:if="${page.current+2 <=page.getPages()}">
            <a class="paginationItem_M4KH-" th:href="@{/search(question=${param.question},pn=${page.current}+2)}" th:text="${page.current +2}"></a>
        </th:block>

        <th:block th:if="${page.current+3 <=page.getPages()}">
            <a class="paginationItem_M4KH-" th:href="@{/search(question=${param.question},pn=${page.current}+3)}" th:text="${page.current +3}"></a>
        </th:block>


        <!--下一页-->
        <th:block th:if="${page.getPages() > page.getCurrent()}">
            <a class="paginationItem_M4KH-"
               th:href="@{/search(question=${param.question},pn=${page.current+1})}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </th:block>

        <!--点击末页会跳转到最后一页，并且最后一页禁用-->
        <th:block th:if="${page.current<page.pages}">
            <a class="paginationItem_M4KH-"
               th:href="@{/search(question=${param.question},pn=${page.pages})}"
               th:text="末页">
            </a>
        </th:block>

        <th:block th:if="${page.current==page.pages}">
            <a class="paginationItem_M4KH- paginationItemDisable" th:text="末页"></a>
        </th:block>

        <!--分页-->
        <div class="dataTables_info" id="editable-sample_info">
            当前第 [[${page.current}]] 页
            总计 [[${page.pages}]] 页
            共 [[${page.total}]] 条记录
        </div>
        <ul>
            <li th:if="${page.current>1}" class="prev"><a th:href="|searchMember();|">← 前一页</a></li>
            <li th:if="${page.current==1}" class="prev disabled"><a>← 前一页</a></li>
            <li th:class="${num == page.current?'active':''}" class="active" th:each="num:${#numbers.sequence(1,page.pages)}">
                <a th:href="@{/member/search(pn=${num},memberName=${memberSearch},roomNo=${roomSearch})}">[[${num}]]</a>
            </li>
            <li th:if="${page.current<page.pages}" class="next"><a th:onclick="|searchMember();|">下一页 → </a></li>
            <li th:if="${page.current==page.pages}" class="next disabled"><a>下一页 →</a></li>
        </ul>
    </div>
</div>

</body>
</html>