<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>房间总览</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/css/homepage.css">
    <link rel="stylesheet" href="/static/lib/css/controller.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css">
    <script src="../static/lib/js/list.js"></script>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js"></script>
</head>
<body>
<div th:insert="~{../static/common/headbar::headbar}"></div>
<div th:insert="~{./detail_user::homepage}"></div>
<div class="panel panel-default" style="width: 90%;margin-left: 5%">
    <div class="panel-heading">
        <h3 class="panel-title" style="text-align:center">租客总览</h3>
    </div>
    <!--条件过滤栏-->
    <div class="div-condition">
        <select name="select" id="memberStatus" class="form-condition" >
            <option value="-1">全部</option>
            <option value="0">租住中</option>
            <option value="1">已退租</option>
        </select>
        <input name="memberSearch" id="memberSearch" class="form-condition" placeholder="租客姓名"
                    th:value="${condition.memberName}==null? '':${condition.memberName}"/>
        <input name="roomSearch" id="roomSearch" class="form-condition" placeholder="房间号"
                      th:value="${condition.roomNo}==null? '':${condition.roomNo}"/>
        &nbsp;&nbsp;
        <input type="button" value="搜索" class="btn btn-success" id="selectClassRoom" th:onclick="|searchMember();|"/>&nbsp;
        <input type="button" class="btn btn-danger" value="删除" id="dropClassRoom" th:onclick="|deleteRow();|"/>

    </div>
    <div class="panel-body">
        <!--<table class="table table-hover" style="text-align:center">
            <thead>
            <tr>
                <th>姓名</th>
                <th>手机号</th>
                <th>身份证</th>
                <th>状态</th>
                <th>房间</th>
                <th>房间描述</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member: ${page.records}">
                <td th:text="${member.memberName}"></td>
                <td th:text="${member.phone}"></td>
                <td th:text="${member.idCard}"></td>
                <td th:text="${member.memberStatus}"></td>
                <td th:text="${member.roomNo}"></td>
                <td th:text="${member.roomDesc}"></td>
                <td><button type="button" class="btn btn-success disabled">操作</button></td>
            </tr>
            </tbody>
        </table>-->
      <table id="table">
      </table>
    </div>
</div>
<script>
  $('#table').bootstrapTable({
    url: '/member/data',
    method: 'GET',
    pageNumber: 1,
    uniqueId: "memberId",
    pagination: true,
    sidePagination: "server",
    pageSize: 10,                       //每页的记录行数（*）
    pageList: [10, 25, 50, 100],
    queryParams: function(params) {
      return {
        pageNumber: params.offset,
        pageSize: params.limit,
        memberSearch: $("#memberSearch").val(),
        roomSearch:  $("#roomSearch").val()
      }
    },
    responseHandler: function(res) {
      return {total: 12, rows: res.data}
    },
    columns: [{
      checkbox: true,
      visible: true
    },{
      field: 'memberId',
      title: 'memberId'
    }, {
      field: 'memberName',
      title: 'memberName'
    }, {
      field: 'roomId',
      title: 'roomId'
    },{
      title: "操作",
      formatter: function (row){
        return "<a >发送密码</a>"
      }
    }]
  });

  function searchMember(){
    $("#table").bootstrapTable('refresh');
  }

  function deleteRow(){
    //$("#table").bootstrapTable('refresh');
   var rows = $("#table").bootstrapTable('getSelections');
   if (!rows) {
     return
   }
    for (var i = 0; i < rows.length; i++) {
      var id = rows[i].memberId;
      console.log(id);
      $.ajax("/member/deleteData", {
          type: "get",
          dataType: "json",
          data:{
            id: id
          }
      })
    }

  }

</script>
</body>
</html>