<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PH租房管理平台-收款管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/static/lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/css/homepage.css">
    <link rel="stylesheet" href="/static/lib/css/controller.css">
    <link rel="stylesheet" href="/static/lib/css/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/css/sweetalert.css">
</head>
<body>
<div th:insert="~{./common/headbar::headbar}"></div>
<div th:insert="~{./detail_user::homepage}"></div>
<div class="panel panel-default" style="width: 90%;margin-left: 5%">
    <!--标题栏-->
    <div class="panel-heading">
        <h3 id="title" class="panel-title" style="text-align:center"><b>收款总览</b></h3>
    </div>
    <!--工具栏-->
    <div id="toolbar" class="div-toolbar">
        <select name="select" id="effectiveSelect" class="toolbar-selector" data-toggle="tooltip" title="点此切换需要查询的收款单状态">
            <option value="-1">全部状态</option>
            <option value="1">生 效</option>
            <option value="0">作 废</option>
        </select>
        <div class="checkbox"> <label> <input type="checkbox" value=""> Option one is this and that—be sure to include why it's great </label></div><div class="checkbox disabled"> <label> <input type="checkbox" value="" disabled> Option two is disabled </label></div><div class="radio"> <label> <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> Option one is this and that—be sure to include why it's great </label></div><div class="radio"> <label> <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Option two can be something else and selecting it will deselect option one </label></div><div class="radio disabled"> <label> <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled> Option three is disabled </label></div>
        <div class="checkbox-row">
            <label class="checkbox-inline">
                <input type="checkbox" value="option1"> 选项1
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="option2"> 选项2
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="option3"> 选项3
            </label>
        </div>

        <input name="memberSearch" id="memberSearch" class="form-condition" placeholder="租客姓名" th:value="${memberSearch}"/>
        <input name="roomSearch" id="roomSearch" class="form-condition" placeholder="房间号"/>
        <!--操作按钮-->
        <button id="search" class="btn btn-primary" th:onclick="search()">搜 索</button>
        <button id="new" class="btn btn-success" th:onclick="addLease()">新 增</button>
        <button id="edit" class="btn btn-info" th:onclick="|edit()|">编 辑</button>
        <button id="terminate" class="btn btn-warning" th:onclick="terminate()">手动失效</button>
<!--        <button id="effective" class="btn btn-primary" th:onclick="enableRows()">手动生效</button>-->
        <button id="delete" class="btn btn-danger" th:onclick="|deleteRows();|">删 除</button>
    </div>
    <!--表格-->
    <div class="panel-body">
        <table id="table" class="table-striped-warner">
        </table>
    </div>
</div>

<!-- （新增、修改） 模态框容器 -->
<div>
    <!-- 新增和修改共用一个模态框（Modal） -->
    <div class="modal fade" id="addOrUpdateModal" tabindex="-1" role="dialog"
         aria-labelledby="addOrUpdateModalLabel"
         aria-hidden="true">

        <div class="modal-dialog" style="width: 45%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            th:onclick="cleanValidate()">
                        ×
                    </button>
                    <h4 class="modal-title text-center font-weight-bold" id="addOrUpdateModalLabel"/>
                </div>
                <!--                    {# 模态框body #}-->
                <div class="modal-body" style="height: 100%;">
                    <form id="addOrUpdateform" class="form-horizontal" role="form">
                        <!-- 租客信息部分 -->
                        <h4 class="field-group-title">
                            <span class="bullet"></span>
                            款项信息
                        </h4>
                        <hr class="field-group-divider">
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="hidden" class="form-control" id="id" name="id">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">收款金额</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="amount" name="amount" data-bv-field="amount"
                                               placeholder="请输入收款金额" autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">款项类型</label>
                                    <div class="col-sm-7">
                                        <select name="receiptType" id="receiptType" class="form-condition form-selector">
                                            <option value="1">租 金</option>
                                            <option value="2">水电费</option>
                                            <option value="3">押 金</option>
                                            <option value="4">维修/更换</option>
                                            <option value="5">其 它</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">收款方式</label>
                                    <div class="col-sm-7">
                                        <select name="payType" id="payType" class="form-condition form-selector">
                                            <option value="1">微信支付</option>
                                            <option value="2">现金支付</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">收款日期</label>
                                    <div class="col-sm-7">
                                        <input type="date" id="bizDate" name="bizDate" class="form-control" min="2023-01-01" max="2099-12-31"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h4 class="field-group-title">
                            <span class="bullet"></span>
                            其它信息
                        </h4>
                        <hr class="field-group-divider">
                        <!-- 租赁信息部分 -->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">房 间</label>
                                    <div class="col-sm-7">
                                        <select name="roomId" id="roomId" class="form-condition form-selector">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">租 约</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="leaseId" name="leaseId" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label id="unitTitle" class="col-sm-3 control-label">租 客</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="memberName" name="memberName" >
                                    </div>
                                </div>

                            </div>
<!--                            <div class="col-sm-6">-->
<!--                                <div class="form-group">-->
<!--                                    <label class="col-sm-3 control-label">租金额(元)</label>-->
<!--                                    <div class="col-sm-7">-->
<!--                                        <input type="text" class="form-control" id="rentAmount" name="rentAmount" step="10">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="form-group">-->
<!--                                    <label class="col-sm-3 control-label">开始日期:</label>-->
<!--                                    <div class="col-sm-7">-->
<!--                                        <input type="date" id="startDate" name="startDate" class="form-control" min="2023-01-01" max="2099-12-31"/>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="form-group">-->
<!--                                    <label class="col-sm-3 control-label">结束日期:</label>-->
<!--                                    <div class="col-sm-7">-->
<!--                                        <input type="date" id="endDate" name="endDate" class="form-control" min="2023-01-01" max="2099-12-31"/>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                        <!--                    {# 模态框底部 #}-->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                            </button>
                            <input type="button" th:onclick="validate()" class="btn btn-primary" id="submitBtn"
                                   value="提交"/>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>
<script src="/static/lib/js/jquery3.5.1.min.js"></script>
<script src="/static/lib/js/bootstrap.min.js"></script>
<script src="/static/lib/js/bootstrap-table.min.js"></script>
<script src="/static/lib/js/sweetalert-dev.js"></script>
<script src="/static/lib/js/moment.min.js"></script>
<script src="/static/lib/js/bootstrap-table-zh-CN.min.js"></script>
<script src="/static/lib/js/bootstrapValidator.min.js"></script>
<script src="/static/tempjs/common.js"></script>
<script src="/static/tempjs/receipt_list.js"></script>
</body>
</html>