<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PH租房管理平台-房间管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/static/lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/css/homepage.css">
    <link rel="stylesheet" href="/static/lib/css/controller.css">
    <link rel="stylesheet" href="/static/lib/css/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/css/sweetalert.css">
</head>
<body>
<div th:insert="~{./common/headbar::headbar}"></div>
<div th:insert="~{./detail_user::homepage}"></div>
<div class="panel panel-default" style="width: 90%;margin-left: 5%">
    <!--标题栏-->
    <div class="panel-heading">
        <h3 class="panel-title" style="text-align:center"><b>房间总览</b></h3>
    </div>
    <!--工具栏-->
    <div id="toolbar" class="div-toolbar">
        <select name="select" id="roomStatus" class="form-condition">
            <option value="-1">全 部</option>
            <option value="1">出租中</option>
            <option value="2">待 租</option>
            <option value="0">禁 用</option>
        </select>
        <input name="roomSearch" id="roomSearch" class="form-condition" placeholder="房间号"/>
        <!--操作按钮-->
        <button id="search" class="btn btn-primary" th:onclick="search()">搜 索</button>
        <button class="btn btn-success" th:onclick="|addRoom()|">新 增</button>
        <button class="btn btn-info" th:onclick="|edit()|">编 辑</button>
        <button class="btn btn-warning" th:onclick="|edit()|">一键退租</button>
        <button class="btn btn-danger" th:onclick="disableRows()">禁 用</button>
    </div>
    <!--表格-->
    <div class="panel-body">
        <table id="table" class="table-striped-warner">
        </table>
    </div>
</div>

<!-- （新增、修改） 模态框容器 -->
<div>
    <!-- 新增和修改共用一个模态框（Modal） -->
    <div class="modal fade" id="addOrUpdateModal" tabindex="-1" role="dialog"
         aria-labelledby="addOrUpdateModalLabel"
         aria-hidden="true">
        房间号
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" th:onclick="cleanValidate()">
                        ×
                    </button>
                    <h4 class="modal-title" id="addOrUpdateModalLabel"/>
                </div>
                <!--                    {# 模态框body #}-->
                <div class="modal-body" style="height: 100%;">
                    <form id="addOrUpdateform" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">房间号</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="roomNo" name="roomNo" required data-bv-field="name"
                                       placeholder="请输入房间号">
                                <input type="hidden" class="form-control" id="id" name="id">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">房间描述</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="roomDesc" name="roomDesc"
                                       placeholder="请输入房间描述">
                            </div>
                        </div>
                        <!--                    {# 模态框底部 #}-->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" th:onclick="cleanValidate()">关闭</button>
                            <input type="button" th:onclick="validate()" class="btn btn-primary" id="submitBtn" value="提交"/>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>
<script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/lib/js/bootstrap.min.js"></script>
<script src="/static/lib/js/bootstrap-table.min.js"></script>
<script src="/static/lib/js/sweetalert-dev.js"></script>
<script src="/static/lib/js/moment.min.js"></script>
<script src="/static/lib/js/bootstrap-table-zh-CN.min.js"></script>
<script src="/static/lib/js/bootstrapValidator.min.js"></script>
<script src="/static/tempjs/common.js"></script>
<script src="/static/tempjs/room_list.js"></script>
</body>
</html>