<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panghu.housemanage.dao.ReceiptMapper">
    <resultMap id="receiptVoMap" type="com.panghu.housemanage.pojo.vo.ReceiptVo" >
        <id column="rowId" property="rowId"/>
        <result column="receiptType" property="receiptType" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
        <result column="pay_type" property="payType" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
        <result column="receiptNumber" property="receiptNumber"/>
        <result column="leaseNumber" property="leaseNumber"/>
        <result column="roomNo" property="roomNo"/>
        <result column="memberName" property="memberName"/>
        <result column="memberIdcard" property="memberIdcard"/>
        <result column="amount" property="amount"/>
        <result column="biz_date" property="bizDate"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="last_update_time" property="lastUpdateTime"/>
        <result column="last_update_user" property="lastUpdateUser"/>
    </resultMap>

    <select id="pageQueryReceipt" parameterType="com.panghu.housemanage.pojo.vo.ReceiptVo" resultMap="receiptVoMap">
        Select rr.number as receiptNumber, rr.lease_number as leaseNumber, rr.room_no as roomNo,rr.receipt_type as receiptType, rr.pay_type,
        rr.member_name as memberName, rr.member_idcard as memberIdcard, rr.member_tel as memberTel, rr.amount, rr.biz_date,
        rr.create_time, rr.create_user, rr.last_update_time, rr.last_update_user
        from t_receipt rr
        <where>
            1 = 1
            <if test=" receiptVo.searchKey != null and receiptVo.searchKey != '' ">
                and (
                    rr.member_name LIKE CONCAT('%', #{receiptVo.searchKey}, '%')
                    or rr.lease_number LIKE CONCAT('%', #{receiptVo.searchKey}, '%')
                    or rr.number LIKE CONCAT('%', #{receiptVo.searchKey}, '%')
                )
            </if>
            <if test=" receiptVo.roomNo != null and receiptVo.roomNo != '' ">
                and rr.room_no = #{receiptVo.roomNo}
            </if>
            <if test=" receiptVo.receiptTypes != null and receiptVo.receiptTypes.size > 0 ">
                and rr.receipt_type IN
                <foreach item="type" collection="receiptVo.receiptTypes" open="(" separator="," close=")">
                    #{type}
                </foreach>
            </if>
<!--            <if test=" leaseVo.voLeaseType != null and leaseVo.voLeaseType != '' and leaseVo.voLeaseType != '-1' ">-->
<!--                and l.lease_type = #{leaseVo.voLeaseType}-->
<!--            </if>-->
            <if test=" receiptVo.voEffective != null and receiptVo.voEffective != '' and receiptVo.voEffective != '-1'  ">
                and rr.effective = #{receiptVo.voEffective}
            </if>
<!--            and m.isdelete = 0-->
            and rr.isdelete = 0
            order by rr.effective desc, rr.create_time desc
        </where>
    </select>
</mapper>
