<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panghu.housemanage.dao.RoomMapper">
    <resultMap id="roomVoMap" type="com.panghu.housemanage.pojo.vo.RoomVo" >
        <id column="rowId" property="rowId"/>
        <result column="roomStatus" property="roomStatus" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
        <result column="memberName" property="memberName"/>
        <result column="roomNo" property="roomNo"/>
        <result column="roomDesc" property="roomDesc"/>
    </resultMap>
    <insert id="insertBatch">
        INSERT INTO t_room(number, description, member_id)
        VALUES
        <foreach collection="list" item="room" separator=",">
            (#{room.number}, #{room.description}, #{room.memberId})
        </foreach>
    </insert>

    <select id="pageQueryRoom" parameterType="java.util.HashMap" resultMap="roomVoMap">
        select r.id as rowId, r.number as roomNo, r.status as roomStatus, r.description as roomDesc, GROUP_CONCAT(m.name SEPARATOR ',') as memberName
        from t_room r
        left join t_member m on m.room_id = r.id and m.status not in (0,2)
        <where>
            1 = 1
            <if test=" roomVo.roomNo != null and roomVo.roomNo != '' ">
                and r.number = #{roomVo.roomNo}
            </if>
            <choose>
                <when test=" roomVo.voStatus != null and roomVo.voStatus != '' and roomVo.voStatus != '-1' ">
                    and r.status = #{roomVo.voStatus}
                </when>
                <otherwise>
                    and r.status != 0
                </otherwise>
            </choose>
        </where>
        group by r.id, r.number, r.status, r.description
    </select>
</mapper>